<?xml version="1.0" ?>
<sdf version="1.4" xmlns:xacro="http://ros.org/wiki/xacro">
<!-- <sdf version="1.4"> -->
<xacro:include filename="$(find raspimouse_gazebo)/materials/sample_maze.wall.xacro" />
<world name="default">
  <xacro:include>
    <uri>model://ground_plane</uri>
  </xacro:include>

  <light name='sun' type='directional'>
    <cast_shadows>1</cast_shadows>
    <pose>0 0 5 0 0 0</pose>
    <diffuse>0.8 0.8 0.8 1</diffuse>
    <specular>0.2 0.2 0.2 1</specular>
    <attenuation>
      <range>1000</range>
      <constant>0.9</constant>
      <linear>0.01</linear>
      <quadratic>0.001</quadratic>
    </attenuation>
    <direction>-0.5 0.1 -0.9</direction>
  </light>

  <physics type='ode'>
    <max_step_size>0.001</max_step_size>
    <real_time_factor>1</real_time_factor>
    <real_time_update_rate>1000</real_time_update_rate>
    <gravity>0 0 -9.8</gravity>
  </physics>


  <gui fullscreen='0'>
    <camera name='user_camera'>
      <pose>-0.556842 -0.914575 1.68773 0 1.05964 0.520195</pose>
      <view_controller>orbit</view_controller>
    </camera>
  </gui>

  <!-- horizontal -->
  <xacro:wall>
    <pose>-0.090 0.006 0.025 0 0 1.57</pose>
  </xacro:wall>
  <xacro:wall>
    <pose>-0.090 -0.174 0.025 0 0 1.57</pose>
  </xacro:wall>
  <xacro:wall>
    <pose>-0.090 -0.354 0.025 0 0 1.57</pose>
  </xacro:wall>
  <!-- vertical -->
  <xacro:wall>
    <pose>0.006 0.090 0.025 0 0 0</pose>
  </xacro:wall>
  <xacro:wall>
    <pose>0.186 0.090 0.025 0 0 0</pose>
  </xacro:wall>
  <xacro:wall>
    <pose>0.366 0.090 0.025 0 0 0</pose>
  </xacro:wall>
  <!-- horizontal -->
  <xacro:wall>
    <pose>0.450 0.006 0.025 0 0 1.57</pose>
  </xacro:wall>
  <xacro:wall>
    <pose>0.450 -0.174 0.025 0 0 1.57</pose>
  </xacro:wall>
  <xacro:wall>
    <pose>0.450 -0.354 0.025 0 0 1.57</pose>
  </xacro:wall>
  <!-- vertical -->
  <xacro:wall>
    <pose>0.006 -0.450 0.025 0 0 0</pose>
  </xacro:wall>
  <xacro:wall>
    <pose>0.186 -0.450 0.025 0 0 0</pose>
  </xacro:wall>
  <xacro:wall>
    <pose>0.366 -0.450 0.025 0 0 0</pose>
  </xacro:wall>
  <!-- plus alpha -->
  <xacro:wall>
    <pose>0.186 -0.270 0.025 0 0 0</pose>
  </xacro:wall>
  <xacro:wall>
    <pose>0.366 -0.090 0.025 0 0 0</pose>
  </xacro:wall>
  <xacro:wall>
    <pose>0.270 -0.174 0.025 0 0 1.57</pose>
  </xacro:wall>
  <xacro:wall>
    <pose>0.006 -0.090 0.025 0 0 0</pose>
  </xacro:wall>
</world>
</sdf>
