<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="lidar_gazebo" params="sensor_link_name base_rad rad_range min_range max_range">
    <gazebo reference="${sensor_link_name}">
      <sensor type="ray" name="${sensor_link_name}_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>$(arg laser_visual)</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>${base_rad-rad_range/2}</min_angle>
              <max_angle>${base_rad+rad_range/2}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.03</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_${sensor_link_name}_controller" filename="libgazebo_ros_laser.so">
          <topicName>scan</topicName>
          <frameName>${sensor_link_name}</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
