<?xml version="1.0"?>
<launch>
  <!-- Definitions of arguments that you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />
  <arg name="urg" default="true" />
  <arg name="lidar_frame" default="laser" />
  <arg name="use_devfile" default="false" />
  <arg name="x0" default="0" />
  <arg name="y0" default="0" />
  <arg name="z0" default="0.01" />

  <!-- Load the Gazebo simulator with specified world file -->
  <include file="$(find raspimouse_gazebo)/launch/raspimouse_with_emptyworld.launch">
    <arg name="world_name" value="$(find raspimouse_gazebo)/worlds/willowgarage.world" />
    <arg name="urg" value="$(arg urg)" />
    <arg name="lidar_frame" value="$(arg lidar_frame)" />
    <arg name="use_devfile" value="$(arg use_devfile)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="x0" value="$(arg x0)" />
    <arg name="y0" value="$(arg y0)" />
    <arg name="z0" value="$(arg z0)" />
  </include>
</launch>